body {
	margin: 0;
    }

html {
		font-family: 'Helvetica neue', Arial, 'sans serif';
		font-size: 16px;
		background-color: #ccc;
}

h1 {
	font-size: 48px;
	text-align: center:
}

p {
	max-width: 65%;
	min-width: 500px;
	
}

h3 {
	text-align: center;
	font-size: 2.6rem;
	text-align: center;
}

div {
	padding-right: 30px;
	height: 100%;
	width: 100%
}

.image {
	margin: 100px;
	width: 515px;
	height: 315px;
	line-height: 215px;
	text-align: center;
}

.resize_fit_center {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;

.main {
	padding-left: 30px;
	min-width: 75%;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #338BFF;
  overflow-x: hidden;
  padding-top: 20px;

}

